<Navigation-Bar></Navigation-Bar>
<Search-Bar></Search-Bar>

<h1 class="text-5xl">Welcome to Airbnb</h1>
<div class="flex flex-row w-full h-svh gap-10">
  @for(house of houses;track house.id){

    <div class="w-1/3 h-fit border-2 border-blue-500">
      @for(image of house.images.src;track $index){
        <img
        class="w-full block h-96"
        [src]="image"
        alt="{{ house.title }}"
      />

      }
       
        <h1 class="text-2xl font-semibold">{{ house.title }}</h1>
        <div class="text-xl">{{ house.location }}</div>
        <span class="text-xl">{{ house.description }}</span>
        <div class="flex flex-row gap-60">
          <span class="text-xl">{{ house.rating }}</span>
          <span class="text-xl">{{ house.price }}</span>
        </div>
      </div>
  
    
    <form class="w-full bg-white h-96">
      <button
        class="border-2 border-blue-500"
        type="button"
        (click)="ngOnInit()"
      >
        Get Houses
      </button>
    </form>

  }@empty {

  <h1>No houses Found</h1>

  }
</div>

<form class="w-full bg-white h-96">
  <button class="border-2 border-blue-500" type="submit">Get Houses</button>
</form>
