<div class="h-svh w-svw">
  <Navigation-Bar></Navigation-Bar>
  <Search-Bar></Search-Bar>

  <h1 class="text-5xl">Welcome to Airbnb</h1>

  <div class="flex flex-row w-full h-1/2 gap-10 p-2 ">
    <!-- Loop through houses and create a separate carousel for each house -->
    <div
      *ngFor="let house of houses"
      class="w-1/6 border-solid border-black rounded-md border-2 p-1"
    >
      <!-- PrimeNG Carousel (Displays images for this specific house) -->
      <p-carousel
        [value]="house.images"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        class="w-full"
      >
        <ng-template let-image pTemplate="item">
          <div class="h-full flex justify-center object-contain">
            <img [src]="image.src" [alt]="house.title" class="w-full object-cover" />
          </div>
        </ng-template>
      </p-carousel>

      <!-- House Title -->
      

      <!-- Location -->
      <div class="text-xl">
        <span>{{ house.location.country }},{{ house.location.city }}</span>
        <span></span>
        <span>{{ house.location.street }}</span>
      </div>
      <h1 class="text-2xl font-semibold">{{ house.title }}</h1>
      <!-- Description -->
      <span class="text-xl">{{ house.description }}</span>

      <!-- Rating and Price -->
      <div class="flex flex-row gap-60">
        <span class="text-xl">{{ house.rating }}</span>
        <span class="text-xl">{{ house.price }}</span>
      </div>
    </div>

    <!-- No Houses Found Message -->
    <div *ngIf="houses.length === 0">
      <h1>No houses Found</h1>
    </div>
  </div>
</div>
